@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins&display=swap');

body {
  font-family: 'Poppins';
}

header, #principal, #second, #contato, #stream {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.link-menu {
  color: #fff;
  background-color: #555;
  border-radius: 8px;
  padding: 4px 10px;
  font-size: 15px;
  text-decoration: none;
}

.f {
  background-color: #5b305a;
  border-radius: 8px;
  padding: 4px 10px;
  font-size: 15px;
  text-decoration: none;
}

.l {
  background-color: #e49756;
  border-radius: 8px;
  padding: 4px 10px;
  font-size: 15px;
  text-decoration: none;
}

.m {
  background-color: #e04b5a;
  border-radius: 8px;
  padding: 4px 10px;
  font-size: 15px;
  text-decoration: none;
}

main {
  background-color: #333;
  color: #ddd;
  display:flex;
  justify-content:center;
  
}

h1, h2 {
  font-family: 'Amatic SC';
}

#second a{
  color: #fff;
}

footer {
  background-color: #333;
  color: #ddd;
  flex-direction: row;
  align-items:center;
  height: 70px;
  margin: 0 auto;
}

#logo{
  width: 150px;
  height: 150px;
  align-items:center;
}

#menu{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding: 15px;
}

figure{
  display:flex;
  width: 500px;
  height: 500px;
}
#principal{
  width: 1000px;
  height: 700px;

}
#sec_ctd{
  justify-content: space-around;
  gap: 5px;
  padding: 15px;
  width: 500px;
  margin: 0 auto;
  align-items: center;
}

#sec_ctd p{
  width: 500px;
  text-align:justify;
}

h1 {
  text-align: right;
  font-size: 40px;
  margin-top: -180px;
  margin-bottom: 40px;
}

#second{
  width: 1000px;
  height: 700px;
  margin: 0 auto;
}

#second img{
  display:flex;
  width: 250px;
}

#social {
  display:flex;
  flex-direction: row;
}
#social img{
  width: 30px;
  justify-content: space-between;
}
#email a{
  color:#fff;
}

#descricao{
  margin: solid black 1px;
}

#acesso a{
  font-family:'Anton', sans-serif;
  text-decoration: none;
  border-radius: 8px;
  padding: 4px 10px;
  box-shadow: #555;
  text-align: center;
}





